- if @invoice.net_pay.nil?
  = "#{ @from_name } has paid your invoice for $#{ @invoice.get_net_pay }."
- else
  = "#{ @from_name } has paid your invoice for $#{ sprintf('%.2f', @invoice.net_pay) }."

You can see it on the home page after you login.