%table.fields
  %col{ :width => '100' }
  %col{ :width => '200' }
  %tr
    %td.text-right= f.label :start_date
    %td= f.date_field :start_date, class: 'form-control'
  %tr
    %td.text-right= f.label :end_date
    %td= f.date_field :end_date, class: 'form-control'
  - if current_user.profile >= 2
    %tr
      %td.text-right= f.label :status
      %td= f.select :status, [%w(Started Started), %w(In\ Progress In\ Progress), %w(Pending Pending),
      %w(Paid Paid)], {}, class: 'form-control'
    %tr
      %td.text-right= f.label 'Check #'
      %td= f.text_field :check_no, class: 'form-control'
    %tr
      %td.text-right= f.label :transfer_date
      %td= f.date_field :transfer_date, class: 'form-control'
%br
%table
  %col{ :width => '100' }
  %col{ :width => '200' }
  - if current_user.profile >= 2
    %tr
      %td.text-center{ :colspan => '2' }
        %strong Overrides
%table.fields
  %col{ :width => '100' }
  %col{ :width => '200' }
  - if current_user.profile >= 2
    %tr
      %td.text-right= f.label :hours
      %td= f.text_field :hours, class: 'form-control'
    %tr
      %td.text-right= f.label 'Hourly Rate'
      %td= f.text_field :rate, class: 'form-control'
    %tr
      %td.text-right= f.label :net_pay
      %td= f.text_field :net_pay, class: 'form-control'
%br