<tr>
  <% if current_user.master %>
      <td><%= invoice.id %></td>
  <% end %>
  <% if @all or @pending_only %>
      <td><%= invoice.user.fullname %></td>
  <% end %>

  <% if invoice.start_date != nil and invoice.end_date != nil %>
      <td class="text-center">
        <%= invoice.start_date.strftime("%m/%d/%y") %> - <%= invoice.end_date.strftime("%m/%d/%y") %>
      </td>
  <% elsif invoice.start_date == nil and invoice.end_date != nil %>
      <td class="text-center">
        Ended <%= invoice.end_date.strftime("%m/%d/%y") %>
      </td>
  <% elsif invoice.start_date != nil and invoice.end_date == nil %>
      <td class="text-center">
        Started <%= invoice.start_date.strftime("%m/%d/%y") %>
      </td>
  <% else %>
      <td></td>
  <% end %>

  <% if invoice.hours == nil %>
      <td class="text-right"><%= sprintf('%.2f', invoice.payments.sum(:hours)) %></td>
  <% else %>
      <td class="override text-right"><%= sprintf('%.2f', invoice.hours) %></td>
  <% end %>

  <% if current_user.master %>
      <% if invoice.rate == nil %>
          <td class="text-right"><%= sprintf('%.2f', invoice.user.rate) %></td>
      <% else %>
          <td class="override text-right"><%= sprintf('%.2f', invoice.rate) %></td>
      <% end %>
  <% end %>

  <% if invoice.net_pay == nil %>
      <% if invoice.rate == nil %>
          <% if invoice.hours == nil %>
            <!-- No overrides -->
            <td class="text-right">$
              <%= sprintf('%.2f', invoice.payments.where(:daily_rate => nil).sum(:hours) * invoice.user.rate + invoice.payments.where.not(:daily_rate => nil).sum(:daily_rate)) %>
            </td>
          <% else %>
            <!-- Hours override -->
            <td class="text-right">$
              <%= sprintf('%.2f', invoice.hours * invoice.user.rate + invoice.payments.where.not(:daily_rate => nil).sum(:daily_rate)) %>
            </td>
          <% end %>
      <% else %>
          <% if invoice.hours == nil %>
            <!-- Rate override -->
            <td class="text-right">$
              <%= sprintf('%.2f', invoice.payments.where(:daily_rate => nil).sum(:hours) * invoice.rate + invoice.payments.where.not(:daily_rate => nil).sum(:daily_rate)) %>
            </td>
          <% else %>
            <!-- Rate and hours override -->
            <td class="text-right">$
              <%= sprintf('%.2f', invoice.hours * invoice.rate + invoice.payments.where.not(:daily_rate => nil).sum(:daily_rate)) %>
            </td>
          <% end %>
      <% end %>
  <% else %>
      <!-- Net pay override -->
      <td class="override text-right">$ <%= sprintf('%.2f', invoice.net_pay) %></td>
  <% end %>

  <% if invoice.status == "Paid" %>
      <td class="approve text-center"><strong><%= invoice.status %></strong></td>
  <% else %>
      <td class="text-center"><%= invoice.status %></td>
  <% end %>

  <% if current_user.admin %>
      <td class="text-right"><%= invoice.check_no %></td>
  <% end %>

  <% if current_user.admin == false %>
    <% if invoice.status == "Started" %>
        <td>
          <%= link_to "VIEW PAYMENTS", invoice_payments_path(invoice), class: "btn btn-primary btn-outline btn-xs" %>
        </td>
        <td></td>
        <td>
          <%= link_to "EDIT", edit_invoice_path(invoice), class: "btn btn-primary btn-outline btn-xs"  %>
        </td>

        <td>
          <%= link_to "DELETE", invoice_path(invoice), class: "btn btn-danger btn-outline btn-xs", method: :delete %>
        </td>
    <% elsif invoice.status == "In Progress" %>
        <td>
          <%= link_to "VIEW PAYMENTS", invoice_payments_path(invoice), class: "btn btn-primary btn-outline btn-xs" %>
        </td>

        <td>
          <% if @user %>
              <%= link_to "SUBMIT", edit_invoice_path(invoice, :submit => true), class: "btn btn-primary btn-outline btn-xs" %>
          <% else %>
              <%= link_to "SUBMIT", edit_invoice_path(invoice, :submit => true, :from_pending => true), class: "btn btn-primary btn-outline btn-xs" %>
          <% end %>
        </td>

        <td>
          <%= link_to "EDIT", edit_invoice_path(invoice), class: "btn btn-primary btn-outline btn-xs" %>
        </td>

        <td>
          <%= link_to "DELETE", invoice_path(invoice), class: "btn btn-danger btn-outline btn-xs", method: :delete %>
        </td>
    <% elsif invoice.status == "Pending" %>
        <td>
          <%= link_to "VIEW INVOICE", invoice_payments_path(invoice), class: "btn btn-primary btn-outline btn-xs" %>
        </td>

        <td>
          <% if @user %>
              <%= link_to "RESET", edit_invoice_path(invoice, :reset => true), class: "btn btn-primary btn-outline btn-xs" %>
          <% else %>
              <%= link_to "RESET", edit_invoice_path(invoice, :reset => true, :from_pending => true), class: "btn btn-primary btn-outline btn-xs" %>
          <% end %>
        </td>
        <td></td>
        <td></td>
    <% else %>
        <td>
          <%= link_to "VIEW INVOICE", invoice_payments_path(invoice), class: "btn btn-primary btn-outline btn-xs" %>
        </td>
        <td></td>
        <td></td>
        <td></td>
    <% end %>
  <% else %>
      <% if invoice.status == "Started" %>
          <td>
            <%= link_to "VIEW PAYMENTS", invoice_payments_path(invoice), class: "btn btn-primary btn-outline btn-xs" %>
          </td>
          <td></td>
          <td></td>
          <td>
            <%= link_to "EDIT", edit_invoice_path(invoice), class: "btn btn-primary btn-outline btn-xs" %>
          </td>

          <td>
            <%= link_to "DELETE", invoice_path(invoice), class: "btn btn-danger btn-outline btn-xs", method: :delete %>
          </td>
      <% elsif invoice.status == "In Progress" %>
          <td>
            <%= link_to "VIEW PAYMENTS", invoice_payments_path(invoice), class: "btn btn-primary btn-outline btn-xs" %>
          </td>
          <td>
            <% if @user %>
                <%= link_to "SUBMIT", edit_invoice_path(invoice, :submit => true), class: "btn btn-primary btn-outline btn-xs" %>
            <% else %>
                <%= link_to "SUBMIT", edit_invoice_path(invoice, :submit => true, :from_pending => true), class: "btn btn-primary btn-outline btn-xs" %>
            <% end %>
          </td>
          <td></td>
          <td>
            <%= link_to "EDIT", edit_invoice_path(invoice), class: "btn btn-primary btn-outline btn-xs" %>
          </td>

          <td>
            <%= link_to "DELETE", invoice_path(invoice), class: "btn btn-danger btn-outline btn-xs", method: :delete %>
          </td>
      <% elsif invoice.status == "Pending" %>
          <td>
            <%= link_to "VIEW INVOICE", invoice_payments_path(invoice), class: "btn btn-primary btn-outline btn-xs" %>
          </td>

          <td>
            <% if @user %>
                <%= link_to "MARK AS PAID", edit_invoice_path(invoice, :approve => true), class: "btn btn-success btn-outline btn-xs" %>
            <% else %>
                <%= link_to "MARK AS PAID", edit_invoice_path(invoice, :approve => true, :from_pending => true), class: "btn btn-success btn-outline btn-xs" %>
            <% end %>
          </td>

          <td>
            <% if @user %>
                <%= link_to "RESET", edit_invoice_path(invoice, :reset => true), class: "btn btn-primary btn-outline btn-xs" %>
            <% else %>
                <%= link_to "RESET", edit_invoice_path(invoice, :reset => true, :from_pending => true), class: "btn btn-primary btn-outline btn-xs" %>
            <% end %>
          </td>

          <td>
            <%= link_to "EDIT", edit_invoice_path(invoice), class: "btn btn-primary btn-outline btn-xs" %>
          </td>

          <td>
            <%= link_to "DELETE", invoice_path(invoice), class: "btn btn-danger btn-outline btn-xs", method: :delete %>
          </td>
      <% else %>
          <td>
            <%= link_to "VIEW INVOICE", invoice_payments_path(invoice), class: "btn btn-primary btn-outline btn-xs" %>
          </td>
          <td></td>
          <td>
            <% if @user %>
                <%= link_to "RESET", edit_invoice_path(invoice, :reset => true), class: "btn btn-primary btn-outline btn-xs" %>
            <% else %>
                <%= link_to "RESET", edit_invoice_path(invoice, :reset => true, :from_pending => true), class: "btn btn-primary btn-outline btn-xs" %>
            <% end %>
          </td>

          <td>
            <%= link_to "EDIT", edit_invoice_path(invoice), class: "btn btn-primary btn-outline btn-xs" %>
          </td>

          <td>
            <%= link_to "DELETE", invoice_path(invoice), class: "btn btn-danger btn-outline btn-xs", method: :delete %>
          </td>
      <% end %>
  <% end %>
</tr>