.row
  .card.hoverable.pointer.space-between.grey.lighten-4
    .card-content
      - if @all or @submitted
        - if invoice.net_pay.nil?
          %span.card-title= "#{invoice.user.fullname} - #{number_to_currency(invoice.get_net_pay)}"
        - else
          %span.card-title= "#{invoice.user.fullname} - #{number_to_currency(invoice.net_pay)}"
      - else
        - if invoice.net_pay.nil?
          %span.card-title= number_to_currency(invoice.get_net_pay)
        - else
          %span.card-title= number_to_currency(invoice.net_pay)

      %p.grey-text.text-darken-1
        - if invoice.status == 'Paid'
          Status:
          %strong
            %span.green-text= invoice.status
        - else
          = "Status: #{invoice.status}"

      %p.grey-text.text-darken-1
        - unless invoice.start_date.nil?
          = "Started #{invoice.start_date.strftime('%m/%d/%y')}"
        - if invoice.hours.nil?
          %span.right= "Hours: #{sprintf('%.2f', invoice.payments.sum(:hours))}"
        - else
          %span.right= "Hours: #{sprintf('%.2f', invoice.hours)}"

      %p.grey-text.text-darken-1
        - unless invoice.end_date.nil?
          = "Ended #{invoice.end_date.strftime('%m/%d/%y')}"
        - if current_user.manager?
          - if invoice.rate.nil?
            %span.right= "Rate: #{number_to_currency(invoice.user.rate)}"
          - else
            %span.right= "Rate: #{number_to_currency(invoice.rate)}"

      %p.grey-text.text-darken-1
        - if current_user.manager?
          - unless invoice.check_no.nil?
            = "Check No. #{invoice.check_no}"
          - unless invoice.transfer_date.nil?
            %span.right= "Transferred #{invoice.transfer_date.strftime('%m/%d/%y')}"