%ol.breadcrumb
  - if current_user.manager?
    %li.breadcrumb-item
      = link_to 'Employees', users_path
    %li.breadcrumb-item
      = link_to 'Invoices', user_invoices_path(@user), class: 'inner-link'
    %li.breadcrumb-item.active Edit Invoice
  - else
    %li.breadcrumb-item
      = link_to 'Invoices', user_invoices_path(current_user)
    %li.breadcrumb-item.active Edit Invoice

%h1 Edit Invoice
%br
= render 'shared/errors', object: @invoice

= form_for @invoice do |form|
  = render partial: 'fields', locals: {f: form }
  %br
  = form.submit 'UPDATE INVOICE', :class => 'btn btn-success'
  = link_to 'CANCEL', user_invoices_path(@user), class: 'btn btn-danger btn-outline'
%br
%br