<h1>Edit invoice</h1>

<%= render 'shared/errors', object: @invoice %>

<%= form_for @invoice do |form| %>
<%= render partial: 'fields', locals: { f: form } %>

<%= form.submit 'Update invoice', :class => "btn btn-success" %>

<button class="btn btn-danger">
  <%= link_to "Cancel", user_invoices_path(@user) %>
</button><br><br>
<% end %>