<% if current_user.admin %>
    <% if @all %>
        <h1>All Invoices</h1>
    <% elsif @pending_only %>
        <h1>Pending Invoices</h1>
    <% else %>
        <h1>Invoices for <%= @user.fullname %></h1>
    <% end %>
    <%= link_to "Back to Users", users_path(@user), class: "btn btn-primary" %><br>
<% else %>
    <h1>Invoices</h1>
<% end %>
<br>
<% if (@user and @user.invoices.count > 0) or
    (@user == nil and @all and @invoices.count > 0) or
    (@user == nil and @pending_only and @invoices.count > 0) %>
    <table class="table table-striped">
      <% if current_user.master %>
          <col width="50"> <!-- ID for Masters -->
      <% end %>
      <% if @all or @pending_only %>
          <col width="200"> <!-- Employee for All and Pending Only View for Admins and Masters -->
      <% end %>
      <col width="125"> <!-- For Dates -->
      <col width="50"> <!-- Hours -->
      <% if current_user.master %>
        <col width="50"> <!-- Rate for Masters -->
      <% end %>
      <col width="75"> <!-- Net Pay -->
      <col width="100"> <!-- Status -->
      <% if current_user.admin %>
          <col width="75"> <!-- Check No. for Admins and Masters -->
      <% end %>
      <% if current_user.master %>
          <col width="125"> <!-- Created At for Masters -->
          <col width="125"> <!-- Updated At for Masters -->
      <% end %>
      <col width="50"> <!-- Button 1 -->
      <col width="50"> <!-- Button 2 -->
      <col width="50"> <!-- Button 3 -->
      <col width="50"> <!-- Button 4 -->
      <% if current_user.admin %>
          <col width="50"> <!-- Button 5 for Admins and Masters -->
      <% end %>
      <tr>
        <% if current_user.master %>
            <th class="bottom-align">ID</th>
        <% end %>
        <% if @all or @pending_only %>
            <th class="bottom-align">Employee</th>
        <% end %>
        <th class="center bottom-align">For Dates</th>
        <th class="center bottom-align">Hours</th>
        <% if current_user.master %>
          <th class="center bottom-align">Rate</th>
        <% end %>
        <th class="center bottom-align">Net Pay</th>
        <th class="center bottom-align">Status</th>
        <% if current_user.admin %>
            <th class="center bottom-align">Check No.</th>
        <% end %>
        <% if current_user.master %>
            <th class="bottom-align">Created At</th>
            <th class="bottom-align">Updated At</th>
        <% end %>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <% if current_user.admin %>
          <th></th>
        <% end %>
      </tr>
      <%= render @invoices %>
    </table>
    <% if @user %>
      <td>
        <%= link_to "New Invoice", new_user_invoice_path(@user), class: "btn btn-success" %>
      </td>
    <% end %>
<% elsif @user %>
    <p>You do not have any invoices yet.</p>
    <td>
      <%= link_to "New Invoice", new_user_invoice_path(@user), class: "btn btn-success" %>
    </td>
<% elsif @pending_only %>
    <p>There are no pending invoices.</p>
<% elsif @all %>
    <p>There are no invoices.</p>
<% end %>
<br><br>