%ol.breadcrumb
    %li.breadcrumb-item
        = link_to 'Employees', users_path
    %li.breadcrumb-item.active Invoices

- if current_user.manager?
    - if @all
        %h1 All Invoices
    - elsif @submitted
        %h1 Submitted Invoices
    - else
        - if @user.fullname.nil? or @user.fullname == ''
            %h1= "Invoices for #{@user.name}"
        - else
            %h1= "Invoices for #{@user.fullname}"
- else
    %h1 Invoices
%br
- if (@user and @user.invoices.count > 0) or (@invoices.count > 0 and (@all or @submitted))
    %table.table.table-striped
        = render 'column_widths'
        %tr
        - if current_user.admin?
            %th.bottom-align ID
        - if @all or @submitted
            %th.bottom-align Employee
        %th.text-center.bottom-align For Dates
        %th.text-right.bottom-align Hours</th>
        - if current_user.admin?
            %th.text-right.bottom-align Rate
        %th.text-right.bottom-align Net Pay
        %th.text-center.bottom-align Status
        - if current_user.manager?
            %th.text-center.bottom-align Check
            %th.text-center.bottom-align Transfer Date
        %th
        %th
        %th
        %th
        - if current_user.manager?
            %th
        = render @invoices
    - if @user
        = link_to new_user_invoice_path(@user), class: 'btn btn-success' do
            %i.glyphicon.glyphicon-plus
            NEW INVOICE
- elsif @user
    %p You do not have any invoices yet.
    = link_to new_user_invoice_path(@user), class: 'btn btn-success' do
        %i.glyphicon.glyphicon-plus
        NEW INVOICE
- elsif @submitted
    %p There are no submitted invoices.
- elsif @all
    %p There are no invoices.
%br
%br