.row
  .col.s12
    .row.valign-wrapper.no-margin-bottom
      .col.s3.grey-text
        Full Name
      .input-field.col.s9
        = f.text_field :fullname
    .row.valign-wrapper.no-margin-bottom
      .col.s3.grey-text
        Username
      .input-field.col.s9
        = f.text_field :name
    .row.valign-wrapper.no-margin-bottom
      .col.s3.grey-text
        Email
      .input-field.col.s9
        = f.text_field :email
    - if current_user.manager? and @user.employee?
      .row.valign-wrapper.no-margin-bottom
        .col.s3.grey-text
          Rate
        .input-field.col.s9
          = f.text_field :rate, value: number_with_precision(@user.rate, :precision => 2)
    - if !current_user?(@user) and current_user.admin?
      .row.valign-wrapper
        .col.s3.grey-text
          Profile
        .input-field.col.s9
          = f.select :profile, [['Employee', 1], ['Manager', 2], ['Administrator', 3]]
      .row.valign-wrapper.no-margin-bottom
        .col.s3.grey-text
          Force Password Change?
        .col.s9
          = f.check_box :first_time
          = f.label :first_time, '&nbsp;'.html_safe
    - if current_user?(@user)
      .row.valign-wrapper.no-margin-bottom
        .col.s3.grey-text
          Password
        .input-field.col.s9
          = f.password_field :password
      .row.valign-wrapper.no-margin-bottom
        .col.s3.grey-text
          Confirmation
        .input-field.col.s9
          = f.password_field :password_confirmation