<table class="no-border">
  <col width="150">
  <col width="700">
  <tr>
    <td class="no-border right-align middle-align"><%= f.label "Full Name" %></td>
    <td class="no-border"><%= f.text_field :fullname %>
    <i class="glyphicon glyphicon-info-sign"></i> First and last name</td>
  </tr>

  <tr>
    <td class="no-border right-align middle-align"><%= f.label "Username" %></td>
    <td class="no-border"><%= f.text_field :name %>
    <i class="glyphicon glyphicon-info-sign"></i> Username you will use to log in</td>
  </tr>

  <tr>
    <td class="no-border right-align middle-align"><%= f.label :email %></td>
    <td class="no-border"><%= f.text_field :email %>
    <i class="glyphicon glyphicon-info-sign"></i> Optional. Email to receive invoice statements.</td>
  </tr>

  <% if current_user.master and !current_user?(@user) %>
      <tr class="empty_row"></tr>
      <tr>
        <td class="no-border right-align middle-align"><%= f.label "Manager?" %></td>
        <td class="no-border">
          <%= f.check_box :admin %>
        </td>
      </tr>
      <tr>
        <td class="no-border right-align middle-align"><%= f.label "Admin?" %></td>
        <td class="no-border">
          <%= f.check_box :master %>
        </td>
      </tr>
      <tr>
        <td class="no-border right-align middle-align"><%= f.label "Reset Profile?" %></td>
        <td class="no-border">
          <%= f.check_box :first_time %>
        </td>
      </tr>
      <tr class="empty_row"></tr>
  <% end %>

  <% if !current_user?(@user) and current_user.admin and !@user.admin and !@user.master %>
      <tr>
        <td class="no-border right-align middle-align"><%= f.label :rate %></td>
        <td class="no-border"><%= f.text_field :rate %>
        <i class="glyphicon glyphicon-info-sign"></i> Hourly rate to pay employee.</td>
      </tr>
  <% end %>

  <% if current_user?(@user) %>
      <tr>
        <td class="no-border right-align middle-align"><%= f.label :password %></td>
        <td class="no-border"><%= f.password_field :password %>
          <i class="glyphicon glyphicon-info-sign"></i> Password you will use to log in.</td>
      </tr>
      <tr>
        <td class="no-border right-align middle-align"><%= f.label "Confirmation" %></td>
        <td class="no-border"><%= f.password_field :password_confirmation %>
          <i class="glyphicon glyphicon-info-sign"></i> Verify that the password you entered is correct.</td>
      </tr>
  <% end %>

</table><br>