<tr>
  <% if current_user.profile == 3 %>
      <td><%= user.id %></td>
  <% end %>
  <td><%= user.fullname %></td>
  <% if current_user.profile == 3 %>
      <td><%= user.name %></td>
  <% end %>
  <td><%= user.email %></td>

  <% if user.profile >= 2 %>
      <td class="text-right">N/A</td>
  <% else %>
      <% if user.rate == nil %>
          <td class="text-right">-</td>
      <% else %>
          <td class="text-right">$ <%= sprintf('%.2f', user.rate) %></td>
      <% end %>
  <% end %>

  <% if user.invoices.where(:status => %w(Started In\ Progress Pending)).count > 0 and user.profile == 1 %>
    <% @invoice = user.invoices.where(:status => %w(Started In\ Progress Pending)).last %>
    <% if @invoice.net_pay == nil %>
        <% if @invoice.rate == nil %>
            <% if @invoice.hours == nil %>
                <!-- No overrides -->
                  <td class="text-right">$
                  <%= sprintf('%.2f', @invoice.payments.where(:daily_rate => nil).sum(:hours) * @invoice.user.rate + @invoice.payments.where.not(:daily_rate => nil).sum(:daily_rate)) %>
                </td>
            <% else %>
                <!-- Hours override -->
                  <td class="text-right">$
                  <%= sprintf('%.2f', @invoice.hours * @invoice.user.rate + @invoice.payments.where.not(:daily_rate => nil).sum(:daily_rate)) %>
                </td>
            <% end %>
        <% else %>
            <% if @invoice.hours == nil %>
                <!-- Rate override -->
                  <td class="text-right">$
                  <%= sprintf('%.2f', @invoice.payments.where(:daily_rate => nil).sum(:hours) * @invoice.rate + @invoice.payments.where.not(:daily_rate => nil).sum(:daily_rate)) %>
                </td>
            <% else %>
                <!-- Rate and hours override -->
                  <td class="text-right">$
                  <%= sprintf('%.2f', @invoice.hours * @invoice.rate + @invoice.payments.where.not(:daily_rate => nil).sum(:daily_rate)) %>
                </td>
            <% end %>
        <% end %>
    <% else %>
        <!-- Net pay override -->
        <td class="text-right">$
          <%= sprintf('%.2f', @invoice.net_pay) %>
        </td>
    <% end %>
  <% elsif user.profile >= 2 %>
      <td class="text-right">N/A</td>
  <% else %>
      <td class="text-right">-</td>
  <% end %>

  <% if current_user.profile == 3 %>
      <td class="text-center">
        <% if user.profile == 3 %> Administrator
        <% elsif user.profile == 2 %> Manager
        <% else %> Employee
        <% end %>
      </td>
      <td class="text-center">
        <% if user.first_time %> Yes
        <% else %> No
        <% end %>
      </td>
  <% end %>

  <% if user.profile >= 2 %>
      <td class="text-center"></td>
  <% else %>
    <td class="text-center">
      <%= link_to 'VIEW INVOICES', user_invoices_path(user), class: 'btn btn-primary btn-outline btn-xs' %>
    </td>
  <% end %>

  <td class="text-center">
    <%= link_to 'EDIT', edit_user_path(user), class: 'btn btn-primary btn-outline btn-xs' %>
  </td>

  <% if current_user.profile == 3 %>
    <% if current_user?(user) %>
        <td class="text-center"></td>
    <% else %>
        <td class="text-center">
          <%= link_to 'DELETE', user_path(user), class: 'btn btn-danger btn-outline btn-xs', method: :delete %>
        </td>
    <% end %>
  <% end %>
</tr>