<tr>
  <% if current_user.master %>
      <td class="middle-align"><%= user.id %></td>
  <% end %>
  <td class="middle-align"><%= user.fullname %></td>
  <% if current_user.master %>
      <td class="middle-align"><%= user.name %></td>
  <% end %>
  <td class="middle-align"><%= user.email %></td>
  <% if user.rate == nil %>
      <% if user.admin %>
          <td class="middle-align right-align">N/A</td>
      <% else %>
          <td class="middle-align right-align">-</td>
      <% end %>
  <% else %>
      <td class="middle-align right-align">$ <%= sprintf("%.2f", user.rate) %></td>
  <% end %>

  <% if user.invoices.where(:status => ["Started", "In Progress", "Pending"]).count > 0 and !user.admin %>
    <% @invoice = user.invoices.where(:status => ["Started", "In Progress", "Pending"]).last %>
    <% if @invoice.net_pay == nil %>
        <% if @invoice.rate == nil %>
            <% if @invoice.hours == nil %>
                <!-- No overrides -->
                  <td class="right-align middle-align">$
                  <%= sprintf('%.2f', @invoice.payments.where(:daily_rate => nil).sum(:hours) * @invoice.user.rate + @invoice.payments.where.not(:daily_rate => nil).sum(:daily_rate)) %>
                </td>
            <% else %>
                <!-- Hours override -->
                  <td class="right-align middle-align">$
                  <%= sprintf('%.2f', @invoice.hours * @invoice.user.rate + @invoice.payments.where.not(:daily_rate => nil).sum(:daily_rate)) %>
                </td>
            <% end %>
        <% else %>
            <% if @invoice.hours == nil %>
                <!-- Rate override -->
                  <td class="right-align middle-align">$
                  <%= sprintf('%.2f', @invoice.payments.where(:daily_rate => nil).sum(:hours) * @invoice.rate + @invoice.payments.where.not(:daily_rate => nil).sum(:daily_rate)) %>
                </td>
            <% else %>
                <!-- Rate and hours override -->
                  <td class="right-align middle-align">$
                  <%= sprintf('%.2f', @invoice.hours * @invoice.rate + @invoice.payments.where.not(:daily_rate => nil).sum(:daily_rate)) %>
                </td>
            <% end %>
        <% end %>
    <% else %>
        <!-- Net pay override -->
        <td class="right-align middle-align">$
          <%= sprintf('%.2f', @invoice.net_pay) %>
        </td>
    <% end %>
  <% elsif user.admin %>
      <td class="right-align middle-align">N/A</td>
  <% else %>
      <td class="right-align middle-align">-</td>
  <% end %>

  <% if current_user.master %>
      <td class="center middle-align">
        <% if user.admin %> Yes
        <% else %> No
        <% end %>
      </td>
      <td class="center middle-align">
        <% if user.master %> Yes
        <% else %> No
        <% end %>
      </td>
      <td class="center middle-align">
        <% if user.first_time %> Yes
        <% else %> No
        <% end %>
      </td>
      <td class="middle-align"><%= user.created_at.to_time.to_datetime.to_s[0..9] + " " +
                                       user.created_at.to_time.to_datetime.to_s[11..18] %></td>
      <td class="middle-align"><%= user.updated_at.to_time.to_datetime.to_s[0..9] + " " +
                                       user.updated_at.to_time.to_datetime.to_s[11..18] %></td>
  <% end %>

  <% if user.admin %>
      <td class="center">
        <%= link_to "View Invoices", user_invoices_path(user), class: "btn btn-primary disabled " %>
      </td>
  <% else %>
    <td class="center">
      <%= link_to "View Invoices", user_invoices_path(user), class: "btn btn-primary" %>
    </td>
  <% end %>

  <td class="center">
    <%= link_to "Edit User", edit_user_path(user), class: "btn btn-primary" %>
  </td>

  <% if current_user.master %>
    <% if user.master %>
        <td class="center">
          <%= button_to "Delete User", user_path(user), class: "btn btn-danger disabled", method: :delete %>
        </td>
    <% else %>
        <td class="center">
          <%= button_to "Delete User", user_path(user), class: "btn btn-danger", method: :delete %>
        </td>
    <% end %>
  <% end %>
</tr>