<h1>Edit profile</h1>

<%= render 'shared/errors', object: @user %>

<%= form_for @user do |form| %>
    <%= render partial: 'fields', locals: {f: form } %>
    <%= form.submit 'UPDATE USER PROFILE', :class => 'btn btn-success' %>
    <% if current_user.profile >= 2 %>
        <%= link_to 'CANCEL', users_path, class: 'btn btn-danger btn-outline' %>
    <% else %>
        <%= link_to 'CANCEL', user_invoices_path(current_user), class: 'btn btn-danger btn-outline' %>
    <% end %>
    <br><br>
<% end %>