.container
  .row
    %nav.transparent.no-box-shadow
      .nav-wrapper
        .col.s12
          - if current_user.manager?
            = link_to 'Users', users_path, class: 'breadcrumb light-blue-text'
          %span.breadcrumb.grey-text.text-darken-4 New

  %h4 New User
  %br
  = form_for @user do |form|
    = render partial: 'fields', locals: {f: form }
    %br
    = form.submit 'SAVE', :class => 'btn'
    = link_to 'CANCEL', users_path(@user), class: 'btn'
  %br
  %bf