<table class="fields">
  <col width="100">
  <col width="300">
  <tr>
    <td class="text-right"><%= f.label :date %></td>
    <td><%= f.date_field :date, class: 'form-control', :value => Date.today.strftime('%Y-%m-%d') %></td>
  </tr>
  <tr>
    <td class="text-right"><%= f.label :description %></td>
    <td><%= f.text_area :description, :cols => 50, :rows => 3, class: 'form-control' %></td>
  </tr>
  <tr>
    <td class="text-right"><%= f.label :hours %></td>
    <td><%= f.text_field :hours, class: 'form-control' %></td>
  </tr>
</table><br>
<table>
  <col width="100">
  <col width="300">
  <% if current_user.profile >= 2 %>
      <tr>
        <td colspan="2" class="text-center"><strong>Overrides</strong></td>
      </tr>
  <% end %>
</table>
<table class="fields">
  <col width="100">
  <col width="300">
  <% if current_user.profile >= 2 %>
      <tr>
        <td class="text-right"><%= f.label :daily_rate %></td>
        <td><%= f.text_field :daily_rate, class: 'form-control' %></td>
      </tr>
  <% end %>
</table><br>