.row
  .col.s12
    .row.valign-wrapper.no-margin-bottom
      .col.s2.grey-text
        Date
      .input-field.col.s10
        - if @payment.date.nil?
          = f.text_field :date_as_string, class: 'datepicker', value: Date.today.strftime('%m/%d/%Y')
        - else
          = f.text_field :date_as_string, class: 'datepicker'
    .row.valign-wrapper.no-margin-bottom
      .col.s2.grey-text
        Description
      .input-field.col.s10
        = f.text_area :description, class: 'materialize-textarea'
    .row.valign-wrapper.no-margin-bottom
      .col.s2.grey-text
        Hours
      .input-field.col.s10
        - if @payment.errors[:hours].length > 0
          = f.text_field :hours, class: 'invalid'
          = f.label :hours, '&nbsp;'.html_safe, class: 'fill-100', 'data-error' => 'Invalid amount of hours'
        - else
          = f.text_field :hours
    - if current_user.manager?
      %br
      %h5
        %strong Overrides
      .row.valign-wrapper.no-margin-bottom
        .col.s2.grey-text
          Payment Amount
        .input-field.col.s10
          = f.text_field :daily_rate, value: number_with_precision(@payment.daily_rate, :precision => 2)