<tr>
  <% if current_user.master %>
      <td class="middle-align"><%= payment.id %></td>
  <% end %>

  <% if payment.date != nil %>
      <td class="middle-align"><%= payment.date.strftime("%m-%d-%Y") %></td>
  <% else %>
      <td></td>
  <% end %>

  <td class="middle-align"><%= payment.description %></td>

  <% if payment.hours != nil %>
    <td class="middle-align"><%= sprintf("%.2f", payment.hours) %></td>

    <% if payment.daily_rate == nil %>
      <td class="middle-align">$ <%= sprintf("%.2f", payment.hours * payment.invoice.user.rate) %></td>
    <% else %>
      <td class="override middle-align">$ <%= sprintf("%.2f", payment.daily_rate) %></td>
    <% end %>
  <% else %>
      <td class="middle-align">0.00</td>
      <td class="middle-align">$ 0.00</td>
  <% end %>

  <td class="center">
    <%= link_to "Edit", edit_payment_path(payment), class: "btn btn-primary" %>
  </td>
  <td class="center">
    <%= link_to "Delete", payment_path(payment), class: "btn btn-danger", method: :delete %>
  </td>
</tr>