%tr
  - if !payment.date.nil?
    %td.payment-cell= payment.date.strftime('%m/%d/%Y')
  - else
    %td.payment-cell

  %td= payment.description

  - if !payment.hours.nil?
    %td.payment-cell= sprintf('%.2f', payment.hours)
    - if payment.daily_rate.nil?
      %td.payment-cell= "$ #{ sprintf('%.2f', payment.hours * payment.invoice.user.rate) }"
    - else
      %td.payment-cell.override= "$ #{ sprintf('%.2f', payment.daily_rate)}"
  - else
    %td.payment-cell 0.00
    %td.payment-cell $ 0.00

  %td.edit-delete-cell.right-align
    - if @invoice.started?
      = link_to payment_path(payment), class: 'right', method: :delete, data: { confirm: 'Are you sure?' } do
        %i.material-icons.grey-text.text-darken-1 delete
      = link_to edit_payment_path(payment), class: 'right' do
        %i.material-icons.grey-text.text-darken-1 edit
