%tr
  - if current_user.admin?
    %td= payment.id

  - if payment.date != nil
    %td= payment.date.strftime('%m-%d-%Y')
  - else
    %td

  %td= payment.description

  - if payment.hours != nil
    %td= sprintf('%.2f', payment.hours)

    - if payment.daily_rate == nil
      %td= "$ #{ sprintf('%.2f', payment.hours * payment.invoice.user.rate) }"
    - else
      %td.override= "$ #{ sprintf('%.2f', payment.daily_rate)}"
  - else
    %td 0.00
    %td $ 0.00

  %td.text-center= link_to 'EDIT', edit_payment_path(payment), class: 'btn btn-primary btn-outline btn-xs'
  %td.text-center= link_to 'DELETE', payment_path(payment), class: 'btn btn-danger btn-outline btn-xs', method: :delete