<tr>
  <td class="middle-align"><%= payment.date %></td>
  <td class="middle-align"><%= payment.description %></td>
  <td class="middle-align"><%= sprintf("%.2f", payment.hours) %></td>
  <td class="middle-align">$ <%= sprintf("%.2f", payment.hours * payment.invoice.user.rate) %></td>
  <td class="center"><button class="btn btn-primary">
    <%= link_to "Edit", edit_payment_path(payment) %>
  </button></td>
  <td class="center"><button class="btn btn-danger">
    <%= link_to "Delete", payment_path(payment), method: :delete %>
  </button></td>
</tr>