<tr>
  <% if current_user.master %>
      <td><%= payment.id %></td>
  <% end %>

  <% if payment.date != nil %>
      <td><%= payment.date.strftime("%m-%d-%Y") %></td>
  <% else %>
      <td></td>
  <% end %>

  <td><%= payment.description %></td>

  <% if payment.hours != nil %>
    <td><%= sprintf("%.2f", payment.hours) %></td>

    <% if payment.daily_rate == nil %>
      <td>$ <%= sprintf("%.2f", payment.hours * payment.invoice.user.rate) %></td>
    <% else %>
      <td class="override">$ <%= sprintf("%.2f", payment.daily_rate) %></td>
    <% end %>
  <% else %>
      <td>0.00</td>
      <td>$ 0.00</td>
  <% end %>

  <td class="text-center">
    <%= link_to "EDIT", edit_payment_path(payment), class: "btn btn-primary btn-outline btn-xs" %>
  </td>
  <td class="text-center">
    <%= link_to "DELETE", payment_path(payment), class: "btn btn-danger btn-outline btn-xs", method: :delete %>
  </td>
</tr>