<h1>Edit payment</h1>

<%= render 'shared/errors', object: @payment %>

<%= form_for @payment do |form| %>
<%= render partial: 'fields', locals: { f: form } %>

<%= form.submit 'Update payment', :class => "btn btn-success" %>

<%= link_to "Cancel", invoice_payments_path(@invoice), class: "btn btn-danger" %>

<% end %>