<h1>Edit payment</h1>

<%= render 'shared/errors', object: @payment %>

<%= form_for @payment do |form| %>
<%= render partial: 'fields', locals: { f: form } %>

<%= form.submit 'Update payment', :class => "btn btn-success" %>
<button class="btn btn-danger">
  <%= link_to "Cancel", invoice_payments_path(@invoice) %>
</button>
<% end %>