<% if @invoice.start_date != nil and @invoice.end_date != nil %>
    <h1>Payments for Invoice <%= @invoice.start_date.strftime("%m-%d-%Y") %> - <%= @invoice.end_date.strftime("%m-%d-%Y") %></h1>
<% elsif @invoice.start_date != nil and @invoice.end_date == nil %>
    <h1>Payments for Invoice Starting <%= @invoice.start_date.strftime("%m-%d-%Y") %></h1>
<% elsif @invoice.start_date == nil and @invoice.end_date != nil %>
    <h1>Payments for Invoice Ending <%= @invoice.end_date.strftime("%m-%d-%Y") %></h1>
<% else %>
    <h1>Payments</h1>
<% end %>

<%= link_to "BACK", user_invoices_path(@user), class: "btn btn-primary btn-outline btn-xs" %><br><br>

<% if @invoice.status == "Paid" %>
    <p class="emphasized"><strong>Status: <span class="approve"><%= @invoice.status %></span></strong></p>
<% else %>
    <p class="emphasized"><strong>Status: <%= @invoice.status %></strong></p>
<% end %>

<% if @invoice.payments.count > 0 %>
    <table class="table table-striped">
      <% if current_user.master %>
          <col width="5%"> <!-- ID for Masters -->
      <% end %>
      <col width="10%"> <!-- Date -->
      <col width="55%"> <!-- Description -->
      <col width="10%"> <!-- Hours -->
      <col width="10%"> <!-- Daily Rate -->
      <col width="5%"> <!-- Edit Button -->
      <col width="5%"> <!-- Delete Button -->
      <tr>
        <% if current_user.master %>
            <th>ID</th>
        <% end %>
        <th>Date</th>
        <th>Description</th>
        <th>Hours</th>
        <th>Daily Rate</th>
        <th></th>
        <th></th>
      </tr>
      <%= render @payments %>
      <tr>
        <% if current_user.master %>
            <td class="middle-align text-right" colspan="3"><strong>Total:</strong></td>
        <% else %>
            <td class="middle-align text-right" colspan="2"><strong>Total:</strong></td>
        <% end %>

        <% if @invoice.hours == nil %>
            <td class="middle-align"><strong><%= sprintf('%.2f', @invoice.payments.sum(:hours)) %></strong></td>
        <% else %>
            <td class="override middle-align"><strong><%= sprintf('%.2f', @invoice.hours) %></strong></td>
        <% end %>

        <% if @invoice.net_pay == nil %>
            <% if @invoice.rate == nil %>
                <% if @invoice.hours == nil %>
                    <!-- No overrides -->
                    <td class="text-center emphasized" colspan="3"><strong>$
                      <%= sprintf('%.2f', @invoice.payments.where(:daily_rate => nil).sum(:hours) * @invoice.user.rate + @invoice.payments.where.not(:daily_rate => nil).sum(:daily_rate)) %>
                    </strong></td>
                <% else %>
                    <!-- Hours override -->
                    <td class="text-center emphasized" colspan="3"><strong>$
                      <%= sprintf('%.2f', @invoice.hours * @invoice.user.rate + @invoice.payments.where.not(:daily_rate => nil).sum(:daily_rate)) %>
                    </strong></td>
                <% end %>
            <% else %>
                <% if @invoice.hours == nil %>
                    <!-- Rate override -->
                    <td class="text-center emphasized" colspan="3"><strong>$
                      <%= sprintf('%.2f', @invoice.payments.where(:daily_rate => nil).sum(:hours) * @invoice.rate + @invoice.payments.where.not(:daily_rate => nil).sum(:daily_rate)) %>
                    </strong></td>
                <% else %>
                    <!-- Rate and hours override -->
                    <td class="text-center emphasized" colspan="3"><strong>$
                      <%= sprintf('%.2f', @invoice.hours * @invoice.rate + @invoice.payments.where.not(:daily_rate => nil).sum(:daily_rate)) %>
                    </strong></td>
                <% end %>
            <% end %>
        <% else %>
            <!-- Net pay override -->
            <td class="override text-center emphasized" colspan="3"><strong>$
              <%= sprintf('%.2f', @invoice.net_pay) %>
            </strong></td>
        <% end %>
      </tr>
    </table>
    <table>
      <col width="135">
      <col width="135">
      <tr>
        <% if @invoice.status == "Started" or @invoice.status == "In Progress" %>
            <td>
              <%= link_to "NEW PAYMENT", new_invoice_payment_path(@invoice), class: "btn btn-success" %>
            </td>
        <% end %>
        <% if @invoice.status == "In Progress" %>
            <td>
              <%= link_to "SUBMIT INVOICE", edit_invoice_path(@invoice, :submit => true, :from_payments => true), class: "btn btn-primary btn-outline" %>
            </td>
        <% elsif @invoice.status == "Pending" %>
            <td>
              <%= link_to "RESET INVOICE", edit_invoice_path(@invoice, :reset => true, :from_payments => true), class: "btn btn-primary btn-outline" %>
            </td>
        <% end %>
      </tr>
    </table><br>
<% else %>
    <p>There are no payments under this invoice yet.</p>
    <% if @invoice.status == "Started" or @invoice.status == "In Progress" %>
        <%= link_to "NEW PAYMENT", new_invoice_payment_path(@invoice), class: "btn btn-success" %>
    <% end %>
<% end %>