<% if @invoice.start_date != nil and @invoice.end_date != nil %>
    <h1>Payments for Invoice <%= @invoice.start_date.strftime("%m-%d-%Y") %> - <%= @invoice.end_date.strftime("%m-%d-%Y") %></h1>
<% elsif @invoice.start_date != nil and @invoice.end_date == nil %>
    <h1>Payments for Invoice Starting <%= @invoice.start_date.strftime("%m-%d-%Y") %></h1>
<% elsif @invoice.start_date == nil and @invoice.end_date != nil %>
    <h1>Payments for Invoice Ending <%= @invoice.end_date.strftime("%m-%d-%Y") %></h1>
<% else %>
    <h1>Payments</h1>
<% end %>
<button class="btn btn-primary">
  <%= link_to "Back to Invoices", user_invoices_path(@user) %>
</button><br><br>
<% if @invoice.status == "Approved" %>
    <p class="emphasized"><strong>Status: <span class="approve"><%= @invoice.status %></span></strong></p>
<% elsif @invoice.status == "Declined" %>
    <p class="emphasized"><strong>Status: <span class="decline"><%= @invoice.status %></span></strong></p>
<% else %>
    <p class="emphasized"><strong>Status: <%= @invoice.status %></strong></p>
<% end %>
<% if @invoice.payments.count > 0 %>
    <table class="table table-striped">
      <col width="100">
      <col width="200">
      <col width="100">
      <col width="100">
      <col width="50">
      <col width="50">
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Hours</th>
        <th>Daily Rate</th>
        <th></th>
        <th></th>
      </tr>
      <%= render @payments %>
      <tr>
        <td class="middle-align right-align" colspan="2"><strong>Total:</strong></td>
        <td class="middle-align"><strong><%= sprintf("%.2f", @invoice.payments.sum(:hours)) %></strong></td>
        <td class="center emphasized" colspan="3"><strong>$ <%= sprintf('%.2f', @invoice.payments.sum(:hours) * @invoice.user.rate) %></strong></td>
      </tr>
    </table>
    <table class="no-border">
      <col width="125">
      <col width="125">
      <tr>
        <% if @invoice.status == "Started" or @invoice.status == "In Progress" %>
            <td><button class="btn btn-success">
              <%= link_to "New Payment", new_invoice_payment_path(@invoice) %>
            </button></td>
        <% end %>
        <% if @invoice.status == "In Progress" %>
            <td><button class="btn btn-success">
              <%= link_to "Submit Invoice", edit_invoice_path(@invoice, :submit => true, :from_payments => true) %>
            </button></td>
        <% elsif @invoice.status == "Pending" %>
            <td class="no-border"><%= link_to "Reset invoice", edit_invoice_path(@invoice, :reset => true, :from_payments => true) %></td>
        <% end %>
    </table>
<% else %>
    <p>There are no payments under this invoice yet.</p>
    <% if @invoice.status == "Started" or @invoice.status == "In Progress" %>
        <td><button class="btn btn-success">
          <%= link_to "New Payment", new_invoice_payment_path(@invoice) %>
        </button></td>
    <% end %>
<% end %>