.row
  %nav.transparent.no-box-shadow
    .nav-wrapper
      .col.s12
        - if current_user.manager?
          = link_to 'Users', users_path, class: 'breadcrumb light-blue-text'
        = link_to 'Invoices', user_invoices_path(@user), class: 'breadcrumb light-blue-text'
        %span.breadcrumb.grey-text.text-darken-4 Payments
.row
  .col.s3
    = render 'payments/partials/actions_card'
  .col.s9
    %br
    - if @invoice.payments.count > 0
      %table.bordered
        = render @payments
        = render 'payments/partials/total_row'
      = render 'payments/partials/new_payment_button'
    - else
      = render 'payments/partials/new_payment_button'
    %br
    %br
    %br
    = render 'payments/partials/status'