%ol.breadcrumb
  %li.breadcrumb-item
    = link_to 'Employees', users_path
  %li.breadcrumb-item
    = link_to 'Invoices', user_invoices_path(@user), class: 'inner-link'
  %li.breadcrumb-item
    = link_to 'Payments', invoice_payments_path(@invoice), class: 'inner-link'
  %li.breadcrumb-item.active New Payment

%h1 New Payment
%br
= render 'shared/errors', object: @payment

= form_for [@invoice, @payment] do |form|
  = render partial: 'fields', locals: {f: form }
  %br
  = form.submit 'CREATE NEW PAYMENT', :class => 'btn btn-success'
  = link_to 'CANCEL', invoice_payments_path(@invoice), class: 'btn btn-danger btn-outline'