%h1 New payment
= render 'shared/errors', object: @payment

= form_for [@invoice, @payment] do |form|
  = render partial: 'fields', locals: {f: form }
  = form.submit 'CREATE NEW PAYMENT', :class => 'btn btn-success'
  = link_to 'CANCEL', invoice_payments_path(@invoice), class: 'btn btn-danger btn-outline'