.row
  %nav.main
    .nav-wrapper
      .row
        .col.s12
          - if current_user&.manager?
            = link_to image_tag('logo.png', :class => 'brand'), users_path, :class => 'brand-logo left'
          - elsif current_user
            = link_to image_tag('logo.png', :class => 'brand'), user_invoices_path(current_user), :class => 'brand-logo left'
          - else
            = link_to image_tag('logo.png', :class => 'brand'), root_path, :class => 'brand-logo left'
          - if logged_in?
            %ul.right
              %li
                - if current_user.fullname.nil? or current_user.fullname == ''
                  %a.dropdown-button.valign-wrapper{ href: '#', 'data-activates' => 'user-dropdown' }
                    = current_user.name
                    %i.material-icons.nav-icons arrow_drop_down
                - else
                  %a.dropdown-button.valign-wrapper{ href: '#', 'data-activates' => 'user-dropdown' }
                    = current_user.fullname
                    %i.material-icons.nav-icons arrow_drop_down

  - if logged_in?
    %ul#user-dropdown.dropdown-content
      %li
        = link_to edit_user_path(current_user) do
          %i.material-icons edit
          Edit Profile
      %li
        = link_to logout_path, method: :delete do
          %i.material-icons exit_to_app
          Log Out