!!!
%html
  %head
    %title Luscombe & Associates
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-inverse
      .navbar-header
        %button.navbar-toggle.collapsed{ :type => 'button', 'data-toggle' => 'collapse', 'data-target' => '#bs-example-navbar-collapse-1', 'aria-expanded' => 'false' }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        - if current_user&.manager?
          = link_to image_tag('logo.png', :class => 'brand'), users_path, :class => 'navbar-brand'
        - elsif current_user
          = link_to image_tag('logo.png', :class => 'brand'), user_invoices_path(current_user), :class => 'navbar-brand'
        - else
          = link_to image_tag('logo.png', :class => 'brand'), root_path, :class => 'navbar-brand'
      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav
          - if current_user&.manager?
            %li
              = link_to users_path do
                %i.glyphicon.glyphicon-user
                Users
            - if current_user.admin?
              %li
                = link_to all_invoices_path do
                  %i.glyphicon.glyphicon-globe
                  All Invoices
            %li
              = link_to submitted_invoices_path do
                %i.glyphicon.glyphicon-saved
                Submitted Invoices
                - if Invoice.submitted.count > 0
                  %span.badge= Invoice.submitted.count
          - elsif current_user
            %li
              = link_to user_invoices_path(current_user) do
                %i.glyphicon.glyphicon-list
                Invoices
            - if current_user.invoices.not_submitted.count > 0
              %li
                = link_to invoice_payments_path(current_user.invoices.not_submitted.last) do
                  %i.glyphicon.glyphicon-time
                  Current Invoice
            - elsif current_user.invoices.count > 0
              %li
                = link_to invoice_payments_path(current_user.invoices.ordered.first) do
                  %i.glyphicon.glyphicon-time
                  Current Invoice
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            - if current_user.fullname.nil? or current_user.fullname == ''
              %li
                = link_to edit_user_path(current_user) do
                  %i.glyphicon.glyphicon-ok
                  &nbsp;
                  = "Welcome, #{ current_user.name }"
            - else
              %li
                = link_to edit_user_path(current_user) do
                  %i.glyphicon.glyphicon-ok
                  &nbsp;
                  = "Welcome, #{ current_user.fullname }"
            %li
              = link_to edit_user_path(current_user) do
                %i.glyphicon.glyphicon-pencil
                Edit Profile
          - if logged_in?
            %li
              = link_to logout_path, method: :delete do
                %i.glyphicon.glyphicon-log-in
                &nbsp;Log Out

  .main.container-fluid
    #loader-container
      #loader
    - flash.each do |type, message|
      %div{ :class => "alert alert-#{type}" }
        - if type == 'danger'
          %strong ERROR
        - elsif type == 'info'
          %strong INFORMATION
        = message
    = yield